/* src/components/Header.css */

.header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Ensure padding is included in width calculations */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width calculations */
}

.app-logo {
    height: 25px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust margin to control spacing */
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.app-name {
    font-size: 24px;
    margin-right: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.button {
    margin-left: 12px;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    
}

.button:hover {
    background-color: #e0e0e0;
}
