.querygen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Adjust height as needed */
    padding: 20px;
}

.search-box {
    display: flex;
    flex-direction: row; /* Adjust to row for horizontal alignment */
    align-items: center;
    margin-bottom: 20px;
}

.search-box input {
    padding: 15px; /* Increase padding for a larger input box */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 500px; /* Increase the width of the input box */
    margin-right: 10px; /* Adjust spacing between input and button */
    font-size: 16px; /* Increase font size */
}

.search-box button {
    padding: 15px;
    width: 120px; /* Set a fixed width for the button */
    border: none;
    border-radius: 5px;
    background-color: #2986e9;
    color: white;
    cursor: pointer;
    font-size: 16px; /* Increase font size */
}

.search-box button:hover {
    background-color: #0056b3;
}

.error-container {
    color: red;
    margin-top: 10px;
}


.loading {
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
}


.response-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.response-container h2 {
    margin-top: 0;
}

.response-container p {
    white-space: pre-wrap; /* This ensures the SQL query is displayed with proper formatting */
}
