.about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.sqlbackground {
    max-width: 50%; /* Ensure the image stays within its container */
    height: 20%; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners for the image */
    margin-bottom: 20px; /* Adjust spacing below the image */
}

.about-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007bff;
}

.about-us p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}
